  <!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>حول منصة الوفاء</h2>
    </div>
 
    <div class="row content text-center">
      <div class="col-lg-6">
        <h4><b>رؤيتنا</b></h4>
        <p>
          تعمل جمعية الوفاء للتنمية البشرية بأن تكون الأسم الأكثر شهرة في مجال التدريب في الأردن ، وخصوصاً الدورات التدريبية المصممة لتدريب طلاب الجامعات الأردنية وخريجيها لتأهيلهم للحصول على فرص العمل المتاحة محلياً ودولياً.
        </p>
        <h4><b>أهدافنا</b></h4>
        <ul>
          <!--.about .content ul i edit style css to get icon in the rigth-->
          <li><i class="ri-check-double-line"></i> <span>تعزيز القدرات والمهارات الفنية والمهنية للشباب ما بين سن الخامسة عشرة سنة الى سن الثلاثين سنة</span> </li>
          <li><i class="ri-check-double-line"></i> <span>رفع قدرات الطلاب في لغات الحاسوب والبرمجيات واللغة الإنجليزية للصفوف العاشر والأول ثانوي</span></li>
          <li><i class="ri-check-double-line"></i> تقديم الدورات التدريبية لطلاب الجامعات الأردنية وخريجيها في مجالات تكنولوجيا المعلومات من اجل تأهيلهم وتمكينهم من الحصول على فرص العمل المناسبة.</li>
          <li><i class="ri-check-double-line"></i> تقديم المنح للطلبة من ذوي الدخول المتدنية لمساعدتهم لمواصلة تعليمهم الجامعي .</li>
          <li><i class="ri-check-double-line"></i> تطوير المهارات القيادية والعمل الجماعي عند الشباب</li>
          <li><i class="ri-check-double-line"></i> عقد المحاضرات والندوات العلمية</li>
          <li><i class="ri-check-double-line"></i> عمل الدراسات البحثية في مجالات تنمية الموارد البشرية والتنمية الإقتصادية</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h4><b>رسالتنا</b></h4>
        <ul>
          <li><i class="ri-check-double-line"></i> <span>تقديم برامج تدريبية ذات جودة عالية تتلائم مع احتياجات سوق العمل المحلي والدولي المتجددة</span> </li>
          <li><i class="ri-check-double-line"></i> <span>عمل شراكة مع الشركات الدولية المتخصصة ذات السمعة العالمية من اجل تصميم دورات تدريبية مشتركة واعطاء شهادات تدريبية رسمية للمتدربين من قبل هذه الشركات المتخصصة</span></li>
          <li><i class="ri-check-double-line"></i>الحرص على اختيار المدربين من ذوي اصحاب المهارات الفنية والعلمية والسمعة العالية</li>
          <li><i class="ri-check-double-line"></i>العمل على تشبيك خريجي الدورات مع شركات القطاع الخاص داخل الأردن وخارجه لمساعدتهم في الحصول على فرص العمل المناسبة</li>
          <li><i class="ri-check-double-line"></i> متابعة احتياجات سوق العمل المتجددة والتطورات الفنية في كافة المجالات مثل ، تكنولوجيا المعلومات والذكاء الصناعي وكيفية معالجة البيانات الضخمة لتحويلها الى معلومات مفيدة ، والأساليب الإدارية الحديثة ولغات الحاسوب والبرمجيات الحديثة</li>
        </ul>

        <a href="https://allwafa.com/about" target="_blank" class="btn-learn-more">Learn More</a>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
