  <!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>أشترك معنا في النشرات الإخباري</h4>
          <p>سجل ايميلك ليصلك النشرات الإخبارية بشكل دوري</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="سجل">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact text-center">
          <h3>مصة الوفاء التعليمية</h3>
          <p>
            عمان <br>الجبيهة -شارع ياجوز<br>إشارات المنهل- المنهل سنتر<br> الطابق الرابع - مكتب 406
            <br><br>
            <strong>هاتف</strong> +962 79 8398955<br>
            info@allwafa.com <strong> البريد الإلكتروني</strong><br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center">
          <h4>روابط سريعة</h4>
          <ul>
            <li><a routerLink="/">الرئيسة</a><i class="bx bx-chevron-left"></i> </li>
            <li><a routerLink="/about">حول منصة الوفاء التعليمية</a><i class="bx bx-chevron-left"></i> </li>
            <li><a routerLink="/services">الأقسام الرئيسة</a><i class="bx bx-chevron-left"></i> </li>
            <li><a routerLink="/portfolio">الدورات</a><i class="bx bx-chevron-left"></i> </li>
            <li><a routerLink="/contact">اتصل بنا</a><i class="bx bx-chevron-left"></i> </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center">
          <h4>الأقسام الرئيسية</h4>
          <ul>
            <li><a href="#">البرمجة</a><i class="bx bx-chevron-left"></i> </li>
            <li><a href="#">اللغات</a><i class="bx bx-chevron-left"></i> </li>
            <li><a href="#">الذكاء الاصطناعي</a><i class="bx bx-chevron-left"></i> </li>
            <li><a href="#">التسويق</a><i class="bx bx-chevron-left"></i> </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links text-center">
          <h4>مواقع التواصل الإجتماعي</h4>
          <p>نرحب بكم وبآرائكم</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/AlwafaSocietyjo" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.linkedin.com/in/alwafa-society-775181248/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
