<p>bootstrp works!</p>
<!--<div style="border:solid;border-color:red; margin:50px; padding:20px ; border:dashed 10px red">
  <div style="border: solid; border-color: blue; margin: 50px; padding: 20px; border: dotted 10px">
    <div style="border: solid; border-color: black; margin: 50px; padding: 20px; border: double 10px">
      <h3> Div Titile</h3>
    </div>
  </div>
</div>-->

<div style="border:solid;border-color:red; margin:20px">
  <div style="border: solid; border-color: blue; margin: 20px 70px 10px 5px; padding:30px">
    <div style="border: solid; border-color: black; margin: 20px">
      <h3 style="border: solid; border-color: yellow; margin: 20px"> Div Titile</h3>
    </div>
  </div>
</div>

<div style="margin:30px">
  <button style="margin:10px">Add</button>
  <button style="margin:10px">edit</button>
  <button style="margin:10px">delete</button>
</div>

<div style="border:solid;border-color:red;" class="mx:auto">
  <div style="border: solid; border-color: blue;" class="m-2 p-2">
    <div style="border: solid; border-color: black; " class="mt-2 p-2">
      <h3 style="border: solid; border-color: yellow; " class="m-2 p-2"> Div Titile</h3>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-6">
    1 div
  </div>
  <div class="col-2">
    2 div
  </div>
  <div class="col-4">
    3 div
  </div>
  <div class="col-6">
    4 div
  </div>

  <div class="col-2">
    5 div
  </div>
  <div class="col-2">
    6 div
  </div>
  <div class="col-2">
    6 div
  </div>
</div>
<hr />
<div class="container-fluid mt-3">
  <h1>container-fluid</h1>
  <div class="row">
    <div class="col p-3 bg-primary text-white">.col</div>
    <div class="col p-3 bg-dark text-white">.col</div>
    <div class="col p-3 bg-primary text-white">.col</div>
  </div>
</div>

<div class="container mt-3">
  <h1>container</h1>
  <div class="row">
    <div class="col p-3 bg-primary text-white">.col</div>
    <div class="col p-3 bg-dark text-white">.col</div>
    <div class="col p-3 bg-primary text-white">.col</div>
  </div>
</div>
<hr />
<div class="container mt-3">
  <p class="text-bg-primary text-dark ">This text is important.</p>
  <p class="text-bg-success">This text indicates success.</p>
  <p class="text-bg-info">This text represents some information.</p>
  <p class="text-bg-warning text-danger ">This text represents a warning.</p>
  <p class="text-bg-danger">This text represents danger.</p>
  <p class="text-bg-secondary">Secondary background color.</p>
  <p class="text-bg-dark">Dark grey background color.</p>
  <p class="text-bg-light">Light grey background color.</p>
</div>
<hr />
<div class="container">
  <img src="../../assets/img/1.jpg" class="rounded" width="300" height="300" />
  <img src="../../assets/img/1.jpg" class="rounded-circle" width="300" height="300" />
  <img src="../../assets/img/1.jpg" class="img-thumbnail" width="300" height="300" />


</div>

<div class="container">
  <img src="../../assets/img/2.jpg" class="mx-auto d-block" style="width:50%">
</div>

<img class="img-fluid" src="../../assets/img/5.jpg" alt="New York">

<hr />
<div class="container mt-3">
  <h2>Button Styles</h2>
  <button type="button" class="btn">Basic</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-link">Link</button>
</div>
<hr />
<div class="progress">
  <div class="progress-bar progress-bar-striped" style="width:30%">30%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-success progress-bar-striped" style="width:40%">40%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-info progress-bar-striped" style="width:50%">50%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning progress-bar-striped"  style="width:60%">60%</div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger progress-bar-striped" style="width:70%">70%</div>
</div>

<hr />
<div class ="spinner-border text-success">
  </div>
  <hr />

  <div class="container mt-3">
    <h2>Card Image</h2>
    <p>Image at the top (card-img-top):</p>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="../../assets/img/1.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">John Doe</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
    </div>
    <br>

    <p>Image at the bottom (card-img-bottom):</p>
    <div class="card" style="width:400px">
      <div class="card-body">
        <h4 class="card-title">Jane Doe</h4>
        <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
      <img class="card-img-bottom" src="../../assets/img/2.jpg" alt="Card image" style="width:100%">
    </div>
  </div>
  <hr />
  <div class="container mt-3">

    <div id="accordion">
      <div class="card">
        <div class="card-header">
          <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
            Collapsible Group Item #1
          </a>
        </div>
        <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
            Collapsible Group Item #2
          </a>
        </div>
        <div id="collapseTwo" class="collapse show" data-bs-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
            Collapsible Group Item #3
          </a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />

  <div class="container mt-3">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Open modal
    </button>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>




  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

