<p>html works!</p>

New Project


<H1>ANGULAR</H1>
<h1>Angular</h1>
<h2>Angular</h2>
<h3>Angular</h3>
<h4>Angular</h4>
<h5>Angular</h5>
<h6>Angular</h6>
<!--<h7>Angular</h7>-->
<p>The h1 element defines a large heading</p>

<h1 style="color: red; background-color: aqua; border-style: dashed;">
  New H1
</h1>
<hr />

<p title="My title">The h1 element defines a large heading</p>
<p title='My title'>The h1 element defines a large heading</p>

<h1 title="Eng.'Abeer'">My Name is Abeer</h1>
<p title='Eng "Abeer"'>This is paragraph with title.</p>
<p title="My name’s Abeer">This is <b>paragraph</b> with title.</p>
<hr />
<hr /><b>Bold text</b>
<br /><strong> Important text</strong>
<br /><i>Italic text</i>
<br /><em> Emphasized text</em>
<br /><mark>Marked text</mark>
<br /><small>Smaller text</small>
<br /><del>Deleted text</del>
<br /><ins> Inserted text</ins>
<br /><sub>Subscript text</sub>
<br />H<sub>2</sub>O
<br /> <sup> Superscript text</sup>
<br />X<sup>2</sup>
<br />
<hr />
<p title="My title">
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1                          large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
</p>
<pre>
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1                          large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
  The h1 element defines a large heading
</pre>
<hr />
<a href="https://www.w3schools.com">  This is a link</a>
<br /><a href="https://www.w3schools.com/"  target="_blank">    Visit W3Schools!  </a>
<br />
<a href="https://ng-bootstrap.github.io/#/home"> click </a>
<p>refresh</p>

<hr />

<img src="../assets/img/1.jpg" alt="My img" />
<hr />
<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
  </tr>

  <tr>
    <td>Ali</td>
    <td>20</td>
    <td>M</td>
  </tr>
  <tr>
    <td>Mona</td>
    <td>25</td>
    <td>F</td>
  </tr>
</table>

<hr />
<table>
  <tr>
    <td>Name</td>
    <td>Age</td>
    <td>Gender</td>
  </tr>


  <tr>
    <td>Ali</td>
    <td>20</td>
    <td>M</td>
  </tr>
  <tr>
    <td>Mona</td>
    <td>25</td>
    <td>F</td>
  </tr>
</table>

<hr />
<h2>An <span style="color:palegreen">Unordered</span> HTML List</h2>

<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>

<h2>An Ordered HTML List</h2>

<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>

<hr />
<div style="background-color:aqua">
  <h2>My Form</h2>
  <form style="background-color:yellow">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="Name" value="Abeer" readonly size="40" />

    <h1>Input</h1>
    <span>Input type button</span><input type="button" ><br />
    <span>Input type checkbox</span><input type="checkbox"><br />
    <span>Input type color</span><input type="color"><br />
    <span>Input type date</span><input type="date"><br />
    <span>Input type datetime-local</span><input type="datetime-local"><br />
    <span>Input type email</span><input type="email"><br />
    <span>Input type file</span><input type="file" multiple><br />
    <span>Input type hidden</span><input type="hidden"><br />
    <span>Input type image</span><input type="image"><br />
    <span>Input type month</span><input type="month"><br />
    <span>Input type number</span><input type="number" min="-2" max="5"><br />
    <span>Input type password</span><input type="password"><br />
    <span>Input type radio</span><input type="radio"><br />
    <span>Input type range</span><input type="range"><br />
    <span>Input type reset</span><input type="reset"><br />
    <span>Input type search</span><input type="search"><br />
    <span>Input type submit</span><input type="submit"><br />
    <span>Input type tel</span><input type="tel"><br />
    <span>Input type text</span><input type="text" placeholder="enter your name"><br />
    <span>Input type time</span><input type="time"><br />
    <span>Input type url</span><input type="url"><br />
    <span>Input type week</span><input type="week"><br />

  </form>
</div>















<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
